
     .charlie{
        display:flex;
        flex-direction:row;
        justify-content: center;
        justify-content: space-around;
       }
       .M{
        color:#00b39b;
        font-family: Arial, Helvetica, sans-serif;
     }

    