
  .ston{
    display:flex;
justify-content: center;
color:#00b39b
}

.ston{
  display:flex;
  justify-content: center;
  color:#00b39b;
  font-family: Arial, Helvetica, sans-serif;
}

.ston{
display:flex;
justify-content:center;
}

.ston0{
  display:flex;
  justify-content: center;
}

.ston2{
  display:flex;
  justify-content:center;
}

.love{
    display:flex;
    justify-content: center;
   }

  .love3{
      display:flex;
      justify-content: center;
      color: grey;
      font-family: Arial, Helvetica, sans-serif;
  }

  .love4{
    display:flex;
    justify-content: center;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
  }